Repository kysely-org/kysely-ctl, pull requests merged in 2025-03, with the labels that each got.

#170 refactor: use jiti instead of tsx.
  package.json
  pnpm-lock.yaml
  src/config/get-config.mts
  src/config/kysely-ctl-config.mts
  src/kysely/get-migrator.mts
  src/kysely/ts-file-migration-provider.mts
  src/kysely/using-migrator.mts
  src/seeds/file-seed-provider.mts
  src/seeds/get-seeder.mts
  src/seeds/using-seeder.mts
  src/utils/import-ts-file.mts
  src/utils/jiti.mts
Labels: dependencies, migrate, seed, node, jiti, typescript

#172 fix: deno remote links not being resolved during builds.
  .github/workflows/test.yml
  README.md
  examples/deno-deno-json/.config/kysely.config.ts
  examples/deno-deno-json/.npmrc
  examples/deno-deno-json/deno.json
  examples/deno-deno-json/deno.lock
  examples/deno-deno-json/docker-compose.yml
  examples/deno-deno-json/tsconfig.json
  examples/deno-no-config/.config/kysely.config.ts
  examples/deno-no-config/deno.json
  examples/deno-no-config/migrations/1716743937856_add_table_moshe.ts
  examples/deno-no-config/migrations/1716746051776_add_column_is_moshe.ts
  examples/deno-package-json/.config/kysely.config.ts
  examples/deno-package-json/.npmrc
  examples/deno-package-json/deno.lock
  examples/deno-package-json/docker-compose.yml
  examples/deno-package-json/package.json
  examples/deno-package-json/tsconfig.json
  src/utils/jiti.mts
Labels: bug, deno, jiti

#177 feat: add `--fail-on-pending` flag to `migrate:list`
  src/commands/migrate/list.mts
Labels: enhancement, migrate
